In [4]:
with open ("text.txt", mode = "w") as accounts:
  accounts.write('20146530 Nguyen Ba Vu Thach 8.0\n')
  accounts.write('20146127 Tran Ngoc Hieu 9.5\n')
  accounts.write('20146146 Pham Thanh Toan 9.0\n')
  accounts.write('20141234 Tran Van Thuong 8.0\n')
  accounts.write('20144444 Pham Van On 2.5\n')
  accounts.write('20146146 Thanh Van Nho 5.5\n')
  accounts.write('20144567 Tran Du Lich 5.9\n')
  accounts.write('20148590 Dang Thanh Hung 4.\n')
  accounts.write('20146146 Hai Van Huoc 9.5\n')
  accounts.write('20141290 Vu Thi Nu 8.4\n')
  accounts.write('20143489 Than Van Dang 9.5\n')
  accounts.write('20143194 Dang Van Thuong 10.0\n')

In [3]:
with open("text1.txt", mode = "w") as accounts:
  print('20146530 Nguyen Ba Vu Thach 80\n', file = accounts)

In [6]:
with open("text.txt", mode = "r") as accounts:
  print(f'{"MSSV":<10}{"Name":<20}{"Score":>4}')
  for record in accounts:
    mssv, name, score = record.split()
    print(f'{mssv:<10}{name:<20}{score:>4}')

MSSV      Name                Score

ValueError: ignored

In [ ]:
import pandas as pd
import numpy as np
url = 'Text.csv'
dataframe = pd.read_csv(url)
#dataframe.head(20) #Show the rows
#----------------#
#dataframe.shape #Show the shape of the file
#----------------#
#dataframe.describe()
#----------------#
#dataframe.iloc[:6]
#----------------#
#frame = dataframe.set_index(dataframe["Ho va Ten"])
#frame.loc['Nguyen Van A']
#----------------#
#dataframe[dataframe['Diem'] == 2].head(10)
#----------------#
#dataframe[((dataframe['Khoa_'] == 19) & (dataframe['Diem'] > 4)) | ((dataframe['Khoa_'] == 18) & (dataframe['Diem'] > 1))]
#----------------#
#dataframe['Khoa_'].min()
#dataframe['Khoa_'].max()
#dataframe['Diem'].mean()
#dataframe['Diem'].sum()
#dataframe['Diem'].count()
#dataframe['Khoa'].unique()
#dataframe['Khoa'].value_counts()
#-----------------# Erase column
#dataframe.drop('Khoa', axis = 'columns').head(20)
#-----------------# Erase multiple colums
#dataframe.drop(['Khoa', 'Khoa_'],axis = 1).head(20)
#-----------------#
#dataframe.drop(dataframe.columns[2:5], axis = 1).head(20)
#-----------------#
#dataframe[dataframe['Khoa_'] != 19].head(20)
#-----------------#
#dataframe[dataframe['Khoa'] != 'CKM'].head(20)
#-----------------#
#dataframe[dataframe.index != 4].head(20)
#-----------------#
#dataframe.groupby('Khoa').head(20)
#dataframe.groupby('Khoa_').count()
#dataframe.groupby(['Khoa_', 'Khoa']).head(20)
#dataframe.groupby(['Khoa_', 'Khoa']).count()
#dataframe.groupby(['Khoa_', 'Khoa'])['Diem'].count()
#-----------------#
#time = pd.date_range('16/02/2023', periods = 100000, freq = '30s') #30s lay 1 mau, co tong cong 10000 ma^~u
#dataframe = pd.DataFrame(index = time)
#dataframe['Acess Amount'] = np.random.randint(1, 10, 100000)
#dataframe.resample('w').sum()
#-----------------#

In [ ]:
import pandas as pd
import numpy as np
url = 'http://winterolympicsmedals.com/medals.csv'
dataframe = pd.read_csv(url)
#Exercise
'''
Ex1: Tìm số lượng huy chương của một mục bất kì
Ex2: Tìm số huy chương vàng theo môn thi cá nhân của một nước
Ex3: Loc ra các thể loại huy chương, tính mean, tính tổng....
'''
#Bài 1
ex1 = dataframe.groupby(['Sport'])['Medal'].count()
print(ex1)
#Bài 2
ex2 = dataframe[((dataframe['Medal'] == 'Gold') & (dataframe['NOC'] == 'USA') & (dataframe['Event'] == 'individual'))]['Medal'].count()
print(ex2)
#Bài 3
ex3 = dataframe.groupby(['Medal'])['Medal'].count()
sum = (dataframe.groupby(['Medal'])['Medal'].count()).sum()
mean = (dataframe.groupby(['Medal'])['Medal'].count()).mean()
max = (dataframe.groupby(['Medal'])['Medal'].count()).max()
min = (dataframe.groupby(['Medal'])['Medal'].count()).min()
print(ex3)
#----------------#
#dataframe.groupby(['Khoa_', 'Khoa']).head(20)
#----------------#
#dataframe.head(20) #Show the rows from zeroth to nineteenth
#----------------#
#dataframe.shape #Show the shape of the file
#----------------#
#dataframe.describe()
#----------------#
#dataframe.iloc[:] #Show all the data
#----------------#
#frame = dataframe.set_index(dataframe["Event"])
#frame.loc['individual']
#----------------#
#dataframe[dataframe['City'] == 'Chamonix'].head(10)
#----------------#
#dataframe[((dataframe['Medal'] == 'Gold') & (dataframe['Event gender'] == 'M'))]
#----------------#
#dataframe['Year'].min()
#dataframe['Year'].max()
#dataframe['Year'].mean()
#dataframe['Year'].sum()
#dataframe['Event'].count() #Return the total of the columns of each specific column
#dataframe['Year'].unique() #Return the represent value if it has more than 2 repetitive value
#dataframe['Year'].value_counts() #Return a series containing counts of unique columns
#-----------------# Erase column
#dataframe.drop('Year', axis = 'columns').iloc[:] #Erase all the columns 'Year' and show all of the rest
#-----------------# Erase multiple colums
#dataframe.drop(['City', 'Sport'],axis = 1).iloc[:] //Erase all the columns 'City' and 'Sport' and show all of the rest
#-----------------#
#dataframe.drop(dataframe.columns[2:4], axis = 1).head(20) #Erase all the second columns to the third columns and show from zeroth to nineteenth row
#-----------------#
#dataframe[dataframe['Year'] != 1924].iloc[:] #Show all the rows apart from rows having 
#-----------------#
#dataframe[dataframe['Khoa'] != 'CKM'].head(20)
#-----------------#
#dataframe[dataframe.index != 4].head(20)
#-----------------#
#dataframe.groupby('Khoa').head(20)
#dataframe.groupby('Khoa_').count()
#dataframe.groupby(['Khoa_', 'Khoa']).head(20)
#dataframe.groupby(['Khoa_', 'Khoa']).count()
#dataframe.groupby(['Khoa_', 'Khoa'])['Diem'].count()
#-----------------#
#time = pd.date_range('16/02/2023', periods = 100000, freq = '30s') #30s lay 1 mau, co tong cong 10000 ma^~u
#dataframe = pd.DataFrame(index = time)
#dataframe['Acess Amount'] = np.random.randint(1, 10, 100000)
#dataframe.resample('w').sum()
#-----------------#

Medal
Bronze    764
Gold      774
Silver    773
Name: Medal, dtype: int64